/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f5f5f5;
}

/* Navigation Bar */
header {
  background-color: #2c3e50;
  padding: 1rem 2rem;
}

.navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.navbar li {
  margin: 0.5rem 1rem;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
  color: #f39c12;
}

/* Hero Section */
#hero {
  text-align: center;
  padding: 5rem 2rem;
  background: linear-gradient(to right, #0078d4, #6dd5ed);
  color: white;
}

#hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

#hero p {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto 2rem;
}

#hero a {
  text-decoration: none;
  color: #f39c12;
  font-weight: bold;
  padding: 0.8rem 1.5rem;
  border: 2px solid #f39c12;
  border-radius: 5px;
  transition: all 0.3s;
}

#hero a:hover {
  background: #f39c12;
  color: #fff;
}

/* Projects Section */
#projects {
  padding: 3rem 2rem;
  background-color: #fff;
  text-align: center;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1.5fr));
  gap: 5rem;
  content: center;
}

.project {
  background-color: #f7f9fc;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  transition: transform 0.3s;
  max-width: 100%;
}

.project img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.project h3 {
  font-size: 1.5rem;
  color: #333;
}

.project p {
  font-size: 1rem;
  color: #666;
  margin: 2rem 3rem;
}

.project a {
  text-decoration: none;
  color: #0078d4;
  font-weight: bold;
  transition: color 0.3s ease;
}

.project a:hover {
  color: #f39c12;
}

.project:hover {
  transform: scale(1.05);
}

/* Footer Styling */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

footer p {
  margin: 0;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  #hero h1 {
    font-size: 2.5rem;
  }

  #projects {
    padding: 2rem 1rem;
  }

  .projects-container {
    grid-template-columns: 1fr;
  }
}

